<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>163249648391-kgv04n2vm5n8rolnrdvainianl17jp2n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.163249648391-kgv04n2vm5n8rolnrdvainianl17jp2n</string>
	<key>API_KEY</key>
	<string>AIzaSyCUQLMxqSWQ4q7gEjKPJHm2XuMre-a8qRY</string>
	<key>GCM_SENDER_ID</key>
	<string>163249648391</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.parxomchik.flutter</string>
	<key>PROJECT_ID</key>
	<string>parxomchik-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>parxomchik-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:163249648391:ios:893df3e80e27d75c7f8ba2</string>
	<key>DATABASE_URL</key>
	<string>https://parxomchik-flutter.firebaseio.com</string>
</dict>
</plist>